<!DOCTYPE html>
<html>
<head>
	<title>Pic-a-Vibe</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="style.css" />

</head>
<body ng-app="picaVibe">

	<div class="container" align="center">
		<h1>Pic-a-Vibe</h1>
		<div class="row">
			<form name="input-search" ng-submit="add()">
  				<div class="input-group">
					<input type="text" class="form-control" placeholder="eg) City Blue" minlength="3">
					
					<span class="input-group-button">
           				<button class="btn btn-success" type="submit">vibe</button>
          			</span>
          		</div>
          	</form>
			</div>
		</div>
	</div>

	<div ng-controller="mainController">
		<div class="container" align="center">
			<div class="row">
				<div class="gallery">
					<img
						class="placeholder" 
						ng-controller="eventController"
						ng-src="{{x.contentUrl}}" ng-alt="img/no_img.jpg"
						ng-repeat="x in res" 
						ng-click="onclick(x.contentUrl)"
					/>
			</div>
		</div>

	<div ng-controller="freeSoundController" class="row">
		{{sound}}
	</div>


	</div>
	<script src="vendor/angular.min.js"></script>
	<script src="picavibe.js"></script>
	<script src="freeSoundController.js"></script>
	<script src="event.js"></script>
</body>
</html>