<!DOCTYPE html>
<html>
<head>
	<title>Pic-a-Vibe</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="style.css" />

	<style>
	img {
    	opacity: 1.0;
    	filter: alpha(opacity=100); /* For IE8 and earlier */
	}

	img:hover {
    	opacity: 0.5;
    	filter: alpha(opacity=50); /* For IE8 and earlier */
	}

	img.center {
    	display: block;
    	margin: 0 auto;
	}

	.placeholder {

   		background-repeat: no-repeat;
    	background-size: contain;
    	background-image: url('img/giphy.gif');
	}


	</style>

</head>
<body ng-app="picaVibe">
	<div ng-controller="mainController">
		<div class="container" align="center">
			<div class="row">
				<h1>Pic-a-Vibe</h1>
				<div class="gallery">
					<img
						class="placeholder" 
						ng-controller="eventController"
						ng-src="{{x.contentUrl}}" ng-alt="img/no_img.jpg"
						ng-repeat="x in res" 
						style="width:300px; height:200px; border-radius: 8px;
						margin: 20px 20px";
						ng-click="onclick(x.contentUrl)"
					/>
			</div>
		</div>

	<div ng-controller="freeSoundController" class="row">
		{{sound}}
	</div>


	</div>
	<script src="vendor/angular.min.js"></script>
	<script src="picavibe.js"></script>
	<script src="freeSoundController.js"></script>
	<script src="event.js"></script>
</body>
</html>