img {
    	opacity: 1.0;
    	filter: alpha(opacity=100); /* For IE8 and earlier */
    	width:300px; 
    	height:200px; 
    	border-radius: 8px;
		margin: 20px 20px;
	}

img:hover {
    	opacity: 0.5;
    	filter: alpha(opacity=50); /* For IE8 and earlier */
	}

.placeholder {

   		background-repeat: no-repeat;
    	background-size: contain;
    	background-image: url('img/giphy.gif');
}

.vibe-button {
	margin: 10px;
}